<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="IISLogViewer.styles.css" />
    <link id="app-theme" rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <script>
        window.themeSwitcher = {
            setTheme: function (themeHref) {
                var link = document.getElementById("app-theme");
                var isBootstrapTheme = !!themeHref && themeHref.indexOf("kendo-theme-bootstrap") !== -1;
                if (link) {
                    link.href = themeHref;
                    localStorage.setItem("theme", themeHref);
                }

                if (document && document.body) {
                    document.body.classList.toggle("theme-bootstrap", isBootstrapTheme);
                }
            },
            getTheme: function () {
                return localStorage.getItem("theme");
            }
        };
    </script>
</body>

</html>
